<mat-card>
  <mat-card-header>
    <mat-card-title class="card-title">
      Utilizadores
    </mat-card-title>
    <mat-card-subtitle>
      Lista de todos os utilizadores das aplicações Access Studies e My Monitor
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-content>
    <br>
    <button mat-raised-button color="warn" disabled="true">Eliminar</button>
    <div class="table-filter">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" MatSort>

      <ng-container matColumnDef="UserId">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.UserId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Type">
        <mat-header-cell *matHeaderCellDef> Aplicação </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Type == "studies" ? "Acces Studies":"My Monitor"}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="websites">
        <mat-header-cell *matHeaderCellDef> Websites </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.websites}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Register_Date">
        <mat-header-cell *matHeaderCellDef> Data de registo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Register_Date | date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Last_Login">
        <mat-header-cell *matHeaderCellDef> Última sessão </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Last_Login | date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button matTooltip="{{ 'USER.PAGES.table.headers.see_tooltip' | translate }}" (click)="showPage(element.Uri)" fxFlex>
            <mat-icon class="md-24" aria-label="">mode_edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>