<h1 class="mat-display-1" mat-dialog-title>{{ "USERS_PAGE.ADD.title" | translate }}</h1>
<form (submit)="createUser($event)" [formGroup]="userForm" novalidate>
  <mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch">
    <div class="add-user-block" fxLayout="column">
      <mat-form-field>
        <label for="user_username_input">
          {{ "USERS_PAGE.ADD.username_label" | translate }}
        </label>
        <input id="user_username_input" matInput [errorStateMatcher]="matcher" formControlName="username" required>
        <button type="button" *ngIf="userForm.value.username" matSuffix mat-icon-button aria-label="Clear" (click)="userForm.controls.username.reset()">
          <mat-icon aria-hidden="false">close</mat-icon>
        </button>
        <mat-error *ngIf="userForm.controls.username.status === 'PENDING'">
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </mat-error>
        <mat-error *ngIf="userForm.controls.username.hasError('required')" [innerHTML]="'MISC.required_field' | translate"></mat-error>
        <mat-error *ngIf="userForm.controls.username.hasError('notTakenUsername')">
          {{ "USERS_PAGE.ADD.username_exists" | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <label for="user_password_input">
          {{ "USERS_PAGE.ADD.password_label" | translate }}
        </label>
        <input id="user_password_input" matInput [type]="hide ? 'password' : 'text'" formControlName="password"
          required>
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
          <mat-icon *ngIf="hide" aria-hidden="false" attr.aria-label="{{ 'LOGIN.hide_password' | translate }}">visibility</mat-icon>
          <mat-icon *ngIf="!hide" aria-hidden="false" attr.aria-label="{{ 'LOGIN.show_password' | translate }}">visibility_off</mat-icon>
        </button>
        <mat-error *ngIf="userForm.controls.password.hasError('required')" [innerHTML]="'MISC.required_field' | translate"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <label for="user_confirm_password_input">
          {{ "USERS_PAGE.ADD.confirm_password_label" | translate }}
        </label>
        <input id="user_confirm_password_input" matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirmPassword"
          required>
        <button mat-icon-button matSuffix type="button" (click)="hide2 = !hide2">
          <mat-icon *ngIf="hide2" aria-hidden="false" attr.aria-label="{{ 'LOGIN.hide_password' | translate }}">visibility</mat-icon>
          <mat-icon *ngIf="!hide2" aria-hidden="false" attr.aria-label="{{ 'LOGIN.show_password' | translate }}">visibility_off</mat-icon>
        </button>
        <mat-error *ngIf="userForm.controls.confirmPassword.errors?.MatchPassword && !userForm.controls.confirmPassword.hasError('required')">
          {{ "USERS_PAGE.ADD.confirm_password_error" | translate }}
        </mat-error>
        <mat-error *ngIf="userForm.controls.confirmPassword.hasError('required')" [innerHTML]="'MISC.required_field' | translate"></mat-error>
      </mat-form-field>
    </div>
    <div class="add-names-block" fxLayout="column" fxLayoutAlign="start stretch">
      <mat-form-field>
        <label for="user_contact_names_input">
          {{ "USERS_PAGE.ADD.names_label" | translate }}
        </label>
        <mat-chip-list #namesChipList>
          <mat-chip *ngFor="let name of names" [selectable]="selectable"
                  [removable]="removable" (removed)="removeName(name)">
            {{name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input id="user_contact_names_input"
                [matChipInputFor]="namesChipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addName($event)">
          <button type="button" *ngIf="names.length > 0" matSuffix mat-icon-button aria-label="Clear" (click)="names = []">
            <mat-icon aria-hidden="false">close</mat-icon>
          </button>
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div class="add-emails-block" fxLayout="column" fxLayoutAlign="start stretch">
      <mat-form-field>
        <label for="user_contact_emails_input">
          {{ "USERS_PAGE.ADD.emails_label" | translate }}
        </label>
        <mat-chip-list #emailsChipList>
          <mat-chip *ngFor="let email of emails" [selectable]="selectable"
                  [removable]="removable" (removed)="removeEmail(email)">
            {{email}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input id="user_contact_emails_input"
                [matChipInputFor]="emailsChipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addEmail($event)">
          <button type="button" *ngIf="emails.length > 0" matSuffix mat-icon-button aria-label="Clear" (click)="emails = []">
            <mat-icon aria-hidden="false">close</mat-icon>
          </button>
        </mat-chip-list>
        <mat-error *ngIf="userForm.controls.emails.hasError('emailError')" [innerHTML]="'USERS_PAGE.ADD.emails_error' | translate"></mat-error>
      </mat-form-field>
    </div>
    <div class="add-type-block">
      <mat-radio-group formControlName="app" fxLayout="row" (change)="changeApp()" required>
        <mat-radio-button value="studies">Study Monitor</mat-radio-button>
        <span fxFlex="5"></span>
        <mat-radio-button value="monitor">My Monitor</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="add-websites-block" *ngIf="!loadingWebsites && userForm.value.app && userForm.value.app === 'monitor'"
      fxLayout="column" fxLayoutAlign="start stretch">
      <mat-checkbox formControlName="transfer">Transfer Pages</mat-checkbox>
      <mat-form-field>
        <label for="user_websites_input">
          {{ "USERS_PAGE.ADD.websites_label" | translate }}
        </label>
        <mat-chip-list #websitesChipList>
          <mat-chip *ngFor="let website of selectedWebsites" [selectable]="selectable" [removable]="removable"
            (removed)="removeWebsite(website)">
            {{website.Name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input id="user_websites_input" #websiteInput formControlName="websites" [matAutocomplete]="auto2"
            [matChipInputFor]="websitesChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"/>
          <button type="button" *ngIf="selectedWebsites.length > 0" matSuffix mat-icon-button aria-label="Clear" (click)="selectedWebsites = []">
            <mat-icon aria-hidden="false">close</mat-icon>
          </button>
        </mat-chip-list>
        <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selectedWebsite($event)">
          <mat-option *ngFor="let website of filteredWebsites | async" [value]="website.Name">
            {{ website.Name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row">
    <button mat-raised-button color="warn" type="button" (click)="resetForm()">
      {{ "USERS_PAGE.ADD.reset" | translate }}
    </button>
    <span fxFlex></span>
    <button mat-raised-button color="primary" type="submit" [disabled]="userForm.controls.username.invalid || userForm.controls.password.invalid || userForm.controls.confirmPassword.invalid || userForm.controls.app.invalid"
      *ngIf="!loadingCreate">
      {{ 'USERS_PAGE.ADD.submit' | translate }}
    </button>
    <mat-spinner *ngIf="loadingCreate" [diameter]="40"></mat-spinner>
  </mat-dialog-actions>
</form>
