<mat-card class="mat-typography" *ngIf="!loading && !error">
  <mat-card-header>
    <mat-card-title>
      <h1>Endidades</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>Lista de todas as Entidades</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-filter">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="EntityId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.EntityId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Short_Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome abreviado </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Short_Name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Long_Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Long_Name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Creation_Date">
        <mat-header-cell *matHeaderCellDef mat-sort-headerf> Data de criação </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Creation_Date | date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Websites">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nº Websites </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Websites}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Tags">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nº Tags </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Tags}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button matTooltip="Edit entity" (click)="edit(element.EntityId)">
            <mat-icon class="md-24" aria-label="">mode_edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 250, 500, 1000]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
<app-loading *ngIf="loading"></app-loading>
<app-error *ngIf="error"></app-error>