<div fxLayout="row">
  <h1 class="mat-display-1" mat-dialog-title>
    {{ "PAGES_PAGE.ADD.progress.title" | translate }}
  </h1>
  <span fxFlex></span>
  <button mat-icon-button aria-label="Close dialog" (click)="closeDialog()">
    <mat-icon aria-hidden="false">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <ul>
      <li><span class="bold">{{ "PAGES_PAGE.ADD.progress.total_uris" | translate }}</span> {{ n_uris }}</li>
      <li><span class="bold">{{ "PAGES_PAGE.ADD.progress.elapsed_uris" | translate }}</span> {{ elapsed_uris }}</li>
      <li><span class="bold">{{ "PAGES_PAGE.ADD.progress.remaining_uris" | translate }}</span> {{ remaining_uris }}</li>
    </ul>
    <ul>
      <li><span class="bold success_uri">{{ "PAGES_PAGE.ADD.progress.success_uris" | translate }}</span>
        {{ success_uris }}</li>
      <li><span class="bold error_uri">{{ "PAGES_PAGE.ADD.progress.error_uris" | translate }}</span> {{ error_uris }}
      </li>
    </ul>
  </div>
  <br>
  <div fxLayout="column" *ngIf="current_uri">
    <span class="bold">{{ "PAGES_PAGE.ADD.progress.current_uri" | translate }}</span>
    <span class="uri">{{ current_uri }}</span>
  </div>
  <br>
  <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
  <div fxLayout="row" fxLayoutAlign="center center">
    <span>{{ progress | toFixed }} %</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
  <button *ngIf="finished && error_uris > 0" color="warn" mat-flat-button type="button" (click)="openUrisWithErrorsDialog()">
    {{ "PAGES_PAGE.ADD.progress.uris_with_errors" | translate }}
  </button>
  <button mat-flat-button color="primary" type="button" (click)="closeDialog()" *ngIf="finished">
    {{ "PAGES_PAGE.ADD.progress.close" | translate }}
  </button>
</mat-dialog-actions>
