<h1 class="mat-display-1" mat-dialog-title>
  {{ "PAGES_PAGE.ADD.progress.close_dialog.title" | translate }}
</h1>
<mat-dialog-content>
  <p>{{ "PAGES_PAGE.ADD.progress.close_dialog.description" | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
  <button mat-flat-button color="warn" type="button" mat-dialog-close="false">
    {{ "PAGES_PAGE.ADD.progress.close_dialog.no" | translate }}
  </button>
  <button mat-flat-button color="primary" type="button" mat-dialog-close="true">
    {{ "PAGES_PAGE.ADD.progress.close_dialog.yes" | translate }}
  </button>
</mat-dialog-actions>
