<!--<div class="mat-typography" fxLayout="row">
  <h1>Choose what to create</h1>
  <span fxFlex></span>
  <button mat-icon-button aria-label="Close dialog" (click)="bottomSheetRef.dismiss()">
    <mat-icon aria-hidden="false">close</mat-icon>
  </button>
</div>-->
<mat-nav-list>
  <a href="#" mat-list-item (click)="openAddUserDialog($event)">
    <span mat-line>{{ "ADMIN_CONSOLE.bottom_sheet.user.title" | translate }}</span>
    <span mat-line>{{ "ADMIN_CONSOLE.bottom_sheet.user.subtitle" | translate }}</span>
  </a>

  <a href="#" mat-list-item (click)="openAddTagDialog($event)">
    <span mat-line>{{ "ADMIN_CONSOLE.bottom_sheet.tag.title" | translate }}</span>
    <span mat-line>{{ "ADMIN_CONSOLE.bottom_sheet.tag.subtitle" | translate }}</span>
  </a>

  <a href="#" mat-list-item (click)="openAddEntityDialog($event)">
    <span mat-line>{{ "ADMIN_CONSOLE.bottom_sheet.entity.title" | translate }}</span>
    <span mat-line>{{ "ADMIN_CONSOLE.bottom_sheet.entity.subtitle" | translate }}</span>
  </a>

  <a href="#" mat-list-item (click)="openAddWebsiteDialog($event)">
    <span mat-line>{{ "ADMIN_CONSOLE.bottom_sheet.website.title" | translate }}</span>
    <span mat-line>{{ "ADMIN_CONSOLE.bottom_sheet.website.subtitle" | translate }}</span>
  </a>

  <a href="#" mat-list-item (click)="openAddDomainDialog($event)">
    <span mat-line>{{ "ADMIN_CONSOLE.bottom_sheet.domain.title" | translate }}</span>
    <span mat-line>{{ "ADMIN_CONSOLE.bottom_sheet.domain.subtitle" | translate }}</span>
  </a>

  <a href="#" mat-list-item (click)="openAddPageDialog($event)">
    <span mat-line>{{ "ADMIN_CONSOLE.bottom_sheet.page.title" | translate }}</span>
    <span mat-line>{{ "ADMIN_CONSOLE.bottom_sheet.page.subtitle" | translate }}</span>
  </a>
</mat-nav-list>
