<mat-nav-list>
  <a href="#" mat-list-item (click)="openAddUserDialog($event)">
    <span mat-line>Utilizadores</span>
    <span mat-line>Criar um utilizador</span>
  </a>

  <a href="#" mat-list-item (click)="openAddTagDialog($event)">
    <span mat-line>Tags</span>
    <span mat-line>Criar uma Tag</span>
  </a>

  <a href="#" mat-list-item (click)="openAddEntityDialog($event)">
    <span mat-line>Entidades</span>
    <span mat-line>Adicionar uma Entidade</span>
  </a>

  <a href="#" mat-list-item (click)="openAddWebsiteDialog($event)">
    <span mat-line>Websites</span>
    <span mat-line>Adicionar um Website</span>
  </a>

  <a href="#" mat-list-item (click)="openAddDomainDialog($event)">
    <span mat-line>Domínios</span>
    <span mat-line>Adicionar um domínio</span>
  </a>

  <a href="#" mat-list-item (click)="openAddPageDialog($event)">
    <span mat-line>Páginas</span>
    <span mat-line>Adicionar uma página</span>
  </a>
</mat-nav-list>
