<mat-card class="mat-typography">
  <mat-card-header fxLayout="row" fxLayoutAlign="center center">
    <mat-card-title>
      <h1>{{ "USERS_PAGE.title" | translate }} {{ user }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <a mat-icon-button class="tools" [routerLink]="['/console', 'users']" matTooltip="{{ 'RESULTS.actions.back' | translate }}">
       <mat-icon aria-label="'RESULTS.actions.back' | translate">arrow_back</mat-icon>
    </a>
    <span fxFlex></span>
  </mat-card-actions>
</mat-card>
<br>
<app-list-of-websites *ngIf="!loading && !error && userType == 'monitor'" [websites]="data" (refreshWebsites)="refreshWebsites($event)"></app-list-of-websites>
<app-list-of-tags *ngIf="!loading && !error && userType == 'studies'"></app-list-of-tags>
<app-loading *ngIf="loading"></app-loading>
<app-error *ngIf="error"></app-error>
