.stampsButton {
  height: 55px;
}

.table-filter {
  width: 100%;
}

.table-filter mat-form-field,
.table-filter input {
  width: 80%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
