<mat-card class="mat-typography">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ "WEBSITES_PAGE.LIST.title" | translate }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>{{ "WEBSITES_PAGE.LIST.subtitle" | translate }}</h2>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="table-filter">
      <!--<mat-form-field appearance="outline">
        <label for="website_table_filter">
          {{ "MISC.filter" | translate }}
        </label>
        <input id="website_table_filter" matInput (keyup)="applyFilter($event.target.value)">
      </mat-form-field>-->
      <mat-form-field appearance="outline">
        <label>{{ "MISC.filter" | translate }}
          <input id="website_table_filter" matInput (keyup)="applyFilter($event.target.value)">
        </label>
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

      <!--<ng-container matColumnDef="WebsiteId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "WEBSITES_PAGE.LIST.table.id_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.WebsiteId}} </mat-cell>
      </ng-container>-->

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex>
          {{ "WEBSITES_PAGE.LIST.table.name_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex>
          <a [routerLink]="['/console', 'website', element.Name]">
            <strong>{{element.Name}}</strong>
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Entity">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="30">
          {{ "WEBSITES_PAGE.LIST.table.entity_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="30">
          <a *ngIf="element.Entity2" [routerLink]="['/console', 'entity', element.Entity2]">
            <strong>{{element.Entity}}</strong>
          </a>
        </mat-cell>
      </ng-container>

      <!--<ng-container matColumnDef="User">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20">
          {{ "WEBSITES_PAGE.LIST.table.user_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="20">
          <a *ngIf="element.User" [routerLink]="['/console', 'user', element.User]">
            <strong>{{element.User}}</strong>
          </a>
          <span *ngIf="!element.User">
            Admin
          </span>
        </mat-cell>
      </ng-container>-->

      <ng-container matColumnDef="Creation_Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">
          {{ "WEBSITES_PAGE.LIST.table.creation_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10"> {{element.Creation_Date | date}} </mat-cell>
      </ng-container>

     <!--<ng-container matColumnDef="re-evaluate">
        <mat-header-cell *matHeaderCellDef fxFlex="10">
          {{ "WEBSITES_PAGE.LIST.table.re_evaluate_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          <button mat-icon-button matTooltip="{{ 'WEBSITES_PAGE.LIST.table.re_evaluate_tooltip' | translate }}" (click)="reEvaluateWebsitePages(element.DomainId)">
            <mat-icon class="md-24" aria-label="">autorenew</mat-icon>
          </button>
        </mat-cell>
      </ng-container>-->

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef fxFlex="10">
          {{ "WEBSITES_PAGE.LIST.table.edit_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          <button mat-icon-button matTooltip="{{ 'WEBSITES_PAGE.LIST.table.edit_tooltip' | translate }}" (click)="edit(element.WebsiteId, element.Type)">
            <mat-icon class="md-24" aria-label="">mode_edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!--<ng-container matColumnDef="see">
        <mat-header-cell *matHeaderCellDef fxFlex="10"></mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          <button *ngIf="element.User" mat-icon-button matTooltip="{{ 'WEBSITES_PAGE.LIST.table.see_tooltip' | translate }}" [routerLink]="['/console', 'website', element.User, element.Name]">
            <mat-icon class="md-24" aria-label="">visibility</mat-icon>
          </button>
          <button *ngIf="!element.User" mat-icon-button matTooltip="{{ 'WEBSITES_PAGE.LIST.table.see_tooltip' | translate }}" [routerLink]="['/console', 'website', 'admin', element.Name]">
            <mat-icon class="md-24" aria-label="">visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container>-->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="50" [pageSizeOptions]="[10, 20, 50, 100, 250, 500, 1000]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
