.table-filter mat-form-field,
.table-filter input {
  width: 90%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.evaluation-error:hover {
  color: red;
}