<mat-card class="mat-typography">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ "PAGES_PAGE.LIST.title" | translate }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>{{ "PAGES_PAGE.LIST.subtitle" | translate }}</h2>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="table-filter">
      <mat-form-field>
        <label for="pages_table_filter">
          {{ "PAGES_PAGE.LIST.table.filter" | translate }}
        </label>
        <input id="pages_table_filter" matInput (keyup)="applyFilter($event.target.value)">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

      <!--<ng-container matColumnDef="PageId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "PAGES_PAGE.LIST.table.id_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.PageId}}
        </mat-cell>
      </ng-container>-->

      <ng-container matColumnDef="Uri">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex>
          {{ "PAGES_PAGE.LIST.table.uri_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex>
          <strong>{{element.Uri}}</strong>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Score">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">
          {{ "PAGES_PAGE.LIST.table.score_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          {{element.Score}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Evaluation_Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">
          {{ "PAGES_PAGE.LIST.table.last_updated_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          {{element.Evaluation_Date | date}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Show_In">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">
          Observatório
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          <mat-checkbox (change)="setPageInObservatorio($event, element)" [checked]="element.Show_In === 'both' || element.Show_In === 'observatorio'">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef fxFlex="10">
          {{ "PAGES_PAGE.LIST.table.delete_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          <button mat-icon-button matTooltip="{{ 'PAGES_PAGE.LIST.table.delete_tooltip' | translate }}" (click)="openDeletePageDialog(element.PageId)">
            <mat-icon class="md-24" aria-label="">clear</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="see">
        <mat-header-cell *matHeaderCellDef fxFlex="10"></mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          <button mat-icon-button matTooltip="{{ 'PAGES_PAGE.LIST.table.see_tooltip' | translate }}" [routerLink]="['/console', 'page', element.Uri]">
            <mat-icon class="md-24" aria-label="">visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="50" [pageSizeOptions]="[10, 20, 50, 100, 250, 500, 1000]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
