<mat-card class="mat-typography">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ "PAGES_PAGE.LIST.title" | translate }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>{{ "PAGES_PAGE.LIST.subtitle" | translate }}</h2>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="table-filter">
      <mat-form-field appearance="outline">
        <label>
          {{ "MISC.filter" | translate }}
        </label>
        <input id="pages_table_filter" matInput (keyup)="applyFilter($event.target.value)">
        <!-- (click)="this.parent.getElementById('odfFile').click()" -->
      </mat-form-field>

      <span fxFlex></span>
      <!--
      <mat-error>
        TODO que erros eh suposto ver aqui? -->
      <!-- TODO rotating buggering icon
      </mat-error> -->
      <div [formGroup]="pagesForm">
        <button mat-icon-button class="tools" matTooltip="{{ 'RESULTS.actions.add_odf_file' | translate }}"
          (click)="file.click()">
          <mat-icon aria-label="'RESULTS.actions.add_odf_file' | translate" style="transform: scale(1.5)">note_add
          </mat-icon>
        </button>
        <input type="file" #file id="odfFile" formControlName="file" accept="application/json" style="display:none"
          (change)="sendFile()">
      </div>

    </div>
    <div>
      <span fxFlex></span>
      <button mat-raised-button type="button" color="warn" (click)="openDeletePageDialog()" [disabled]="selection.selected.length === 0">
        {{ "PAGES_PAGE.LIST.delete_pages" | translate }}
      </button>
    </div>
    <mat-table [dataSource]="dataSource" matSort>

      <!--<ng-container matColumnDef="PageId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "PAGES_PAGE.LIST.table.id_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.PageId}}
        </mat-cell>
      </ng-container>-->

      <ng-container matColumnDef="Uri">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex>
          {{ "PAGES_PAGE.LIST.table.uri_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex>
          <a [routerLink]="['/console', 'page', element.Uri]">
            <strong>{{element.Uri}}</strong>
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Score">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">
          {{ "PAGES_PAGE.LIST.table.score_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          {{element.Score}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Evaluation_Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">
          {{ "PAGES_PAGE.LIST.table.last_updated_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          {{element.Evaluation_Date | date}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Show_In">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">
          {{ "PAGES_PAGE.LIST.table.observatory_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="setPageInObservatory($event, element)"
            [checked]="element.Show_In[2] === '1'">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef fxFlex="10">
          <mat-checkbox color="warn" (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          <mat-checkbox color="warn" (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)"
            [aria-label]="checkboxLabel(element)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!--<ng-container matColumnDef="see">
        <mat-header-cell *matHeaderCellDef fxFlex="10"></mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          <button mat-icon-button matTooltip="{{ 'PAGES_PAGE.LIST.table.see_tooltip' | translate }}"
                  [routerLink]="['/console', 'page', element.Uri]">
            <mat-icon class="md-24" aria-label="">visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container>-->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="50" [pageSizeOptions]="[10, 20, 50, 100, 250, 500, 1000]" showFirstLastButtons>
    </mat-paginator>
  </mat-card-content>
</mat-card>
