<mat-card class="menu-parent" fxLayout="column" fxLayoutAlign="start center">
  <mat-nav-list class="menu" fxLayout="row" fxLayoutAlign="space-evenly center">
    <button mat-button color="{{home}}" class="menu-item" routerLink="/console">{{ "MENU.home" | translate }}</button>
    <button mat-button color="{{users}}" class="menu-item" routerLink="/console/users">{{ "MENU.users" | translate }}</button>
    <button mat-button color="{{tags}}" class="menu-item" routerLink="/console/tags">{{ "MENU.tags" | translate }}</button>
    <button mat-button color="{{entities}}" class="menu-item" routerLink="/console/entities">{{ "MENU.entities" | translate }}</button>
    <button mat-button color="{{websites}}" class="menu-item" routerLink="/console/websites">{{ "MENU.websites" | translate }}</button>
    <button mat-button color="{{domains}}" class="menu-item" routerLink="/console/domains">{{ "MENU.domains" | translate }}</button>
    <button mat-button color="{{crawler}}" class="menu-item" routerLink="/console/crawler">{{ "MENU.crawler" | translate }}</button>
    <button mat-button color="{{pages}}" class="menu-item" routerLink="/console/pages">{{ "MENU.pages" | translate }}</button>
    <!--<button mat-button color="{{settings}}" class="menu-item" routerLink="/console/settings">{{ "MENU.settings" | translate }}</button>-->
  </mat-nav-list>
</mat-card>
