<mat-card class="mat-typography">
  <mat-card-header fxLayout="row" fxLayoutAlign="center center">
    <mat-card-title>
      <h1>{{ "ENTITIES_PAGE.title" | translate }} {{ entity }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <a mat-icon-button class="tools" [routerLink]="['/console', 'entities']" matTooltip="{{ 'RESULTS.actions.back' | translate }}">
       <mat-icon aria-label="'RESULTS.actions.back' | translate">arrow_back</mat-icon>
    </a>
    <span fxFlex></span>
  </mat-card-actions>
</mat-card>
<br>
<app-list-of-websites *ngIf="!loading && !error" [websites]="websites"></app-list-of-websites>
<app-loading *ngIf="loading"></app-loading>
<app-error *ngIf="error"></app-error>