<mat-card class="mat-typography">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ "DOMAINS_PAGE.LIST.title" | translate }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>{{ "DOMAINS_PAGE.LIST.subtitle" | translate }}</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-filter">
      <mat-form-field appearance="outline">
        <label for="domain_table_filter">
          {{ "MISC.filter" | translate }}
        </label>
        <input id="domain_table_filter" matInput (keyup)="applyFilter($event.target.value)">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

      <!--<ng-container matColumnDef="DomainId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "DOMAINS_PAGE.LIST.table.id_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.DomainId}}
        </mat-cell>
      </ng-container>-->

      <ng-container matColumnDef="Url">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex>
          {{ "DOMAINS_PAGE.LIST.table.domain_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex>
          <a [routerLink]="['/console', 'domain', element.Url]">
            <strong>{{element.Url}}</strong>
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Active">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">
          {{ "DOMAINS_PAGE.LIST.table.active_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          <mat-icon *ngIf="element.Active" class="md-24" aria-label="">check</mat-icon>
          <mat-icon *ngIf="!element.Active" class="md-24" aria-label="">clear</mat-icon>
        </mat-cell>
      </ng-container>

      <!--<ng-container matColumnDef="User">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20">
          {{ "DOMAINS_PAGE.LIST.table.user_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="20">
          <a *ngIf="element.User" [routerLink]="['/console', 'user', element.User]">
            <strong>{{element.User}}</strong>
          </a>
          <span *ngIf="!element.User">
            Admin
          </span>
        </mat-cell>
      </ng-container>-->


      <ng-container matColumnDef="Pages">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">
          {{ "DOMAINS_PAGE.LIST.table.pages_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          {{element.Pages}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Start_Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">
          {{ "DOMAINS_PAGE.LIST.table.start_date_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          {{element.Start_Date | date}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="End_Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">
          {{ "DOMAINS_PAGE.LIST.table.end_date_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          {{element.End_Date | date}}
        </mat-cell>
      </ng-container>

      <!--<ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef fxFlex="10">
          {{ "DOMAINS_PAGE.LIST.table.delete_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          <button mat-icon-button matTooltip="{{ 'DOMAINS_PAGE.LIST.table.delete_tooltip' | translate }}" (click)="openDeleteDomainDialog(element.DomainId)">
            <mat-icon class="md-24" aria-label="">clear</mat-icon>
          </button>
        </mat-cell>
      </ng-container>-->

      <!--<ng-container *ngIf="user === ''" matColumnDef="see">
        <mat-header-cell *matHeaderCellDef fxFlex="8">Crawler</mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="8">
          <button *ngIf="element.User" mat-icon-button matTooltip="{{ 'DOMAINS_PAGE.LIST.table.see_tooltip' | translate }}" [routerLink]="['/console', 'domain', element.User, element.Url]">
            <mat-icon class="md-24" aria-label="">visibility</mat-icon>
          </button>
          <button *ngIf="!element.User" mat-icon-button matTooltip="{{ 'DOMAINS_PAGE.LIST.table.see_tooltip' | translate }}" [routerLink]="['/console', 'domain', 'admin', element.Url]">
            <mat-icon class="md-24" aria-label="">visibility</mat-icon>
          </button>
          <button mat-icon-button matTooltip="{{'DOMAINS_PAGE.LIST.table.add_pages_tooltip' | translate}}" (click)="openCrawlerDialog($event, element.Url, element.DomainId)">
            <mat-icon class="md-24" aria-label="">pageview</mat-icon>
          </button>
        </mat-cell>
      </ng-container>-->

      <!--<ng-container matColumnDef="re-evaluate">
        <mat-header-cell *matHeaderCellDef fxFlex="10">
          {{ "DOMAINS_PAGE.LIST.table.re_evaluate_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10">
          <button *ngIf="element.Active === 1" mat-icon-button matTooltip="{{ 'DOMAINS_PAGE.LIST.table.re_evaluate_tooltip' | translate }}" (click)="reEvaluateWebsitePages(element.DomainId)">
            <mat-icon class="md-24" aria-label="">autorenew</mat-icon>
          </button>
        </mat-cell>
      </ng-container>-->

      <ng-container matColumnDef="Edit">
        <mat-header-cell *matHeaderCellDef fxFlex="8">
          {{ "DOMAINS_PAGE.LIST.table.edit_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="8">
          <button *ngIf="element.Pages === 0" mat-icon-button (click)="openEditDomainDialog(element.DomainId, element.Url)" matTooltip="{{ 'DOMAINS_PAGE.LIST.table.edit_tooltip' | translate }}">
            <mat-icon class="md-24" aria-label="">edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="50" [pageSizeOptions]="[10, 20, 50, 100, 250, 500, 1000]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
