ul {
  list-style: none;
}

.bold {
  font-weight: bold;
}

.success_uri {
  color: green;
}

.error_uri {
  color: red;
}

.uri {
  max-width: 40vw;
  height: 60px;
}

.website {
  max-width: 40vw;
  height: 30px;
}
