<mat-card class="mat-typography">
  <mat-card-header fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title>
      <h1>{{ "HOME_PAGE.title" | translate }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>{{ "HOME_PAGE.subtitle" | translate }}</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-content>
    <br>
    <div>
      <h3>{{ "HOME_PAGE.observatory" | translate }}</h3>
      <div fxLayout="row" fxLayoutAlign="none center">
        <app-item [icon]="'category'" [title]="'tags_label'" [value]="observatorio_tags"></app-item>
        <app-item [icon]="'web'" [title]="'websites_label'" [value]="observatorio_websites"></app-item>
      </div>
      <br>
      <h3>{{ "HOME_PAGE.monitor" | translate }}</h3>
      <div fxLayout="row" fxLayoutAlign="none center">
        <app-item [icon]="'person'" [title]="'users_label'" [value]="my_monitor_users"></app-item>
        <app-item [icon]="'web'" [title]="'websites_label'" [value]="my_monitor_websites"></app-item>
      </div>
      <br>
      <h3>{{ "HOME_PAGE.studies" | translate }}</h3>
      <div fxLayout="row" fxLayoutAlign="none center">
        <app-item [icon]="'person'" [title]="'users_label'" [value]="access_studies_users"></app-item>
        <app-item [icon]="'category'" [title]="'tags_label'" [value]="access_studies_tags"></app-item>
        <app-item [icon]="'web'" [title]="'websites_label'" [value]="access_studies_websites"></app-item>
      </div>
      <br>
    </div>
    <br>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
    <span>{{ "HOME_PAGE.evaluations" | translate }}: {{ evaluations }}</span>
  </mat-card-actions>
</mat-card>
