textarea {
  max-height: 300px;
}
/*
[tooltip]{
  margin:20px;
  position:relative;
}
[tooltip]::after {
  top:100%;
  margin-top:8px;
  content: attr(tooltip);
  position: absolute;
  left:50%;
  transform: translateX(-50%) translateY(0%);
  background: rgba(0,0,0,0.7);
  text-align: center;
  color: #fff;
  padding:6px 5px;
  font-size: 14px;
  min-width: 80px;
  border-radius: 5px;
  pointer-events: none;
  visibility:hidden;
  opacity:0;
}
[tooltip]:hover::after,[tooltip]:hover::before {
  visibility:visible;
  opacity:1
}
*/
