<mat-card class="mat-typography">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ "STATISTICS.title" | translate }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>{{ "STATISTICS.subtitle" | translate }}</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-around center">
      <div>
        <ngx-gauge
          [type]="'semi'"
          [thick]="'10'"
          [value]="score | toFixed"
          [label]="'STATISTICS.gauge.label' | translate"
          [min]="0"
          [max]="10"
          [duration]="2000"
          [thresholds]="thresholdConfig">
        </ngx-gauge>
      </div>
      <div>
        <mat-list>
          <mat-list-item>
            <span><strong>{{ "STATISTICS.pages" | translate }}:</strong> {{ pages.length }}</span>
          </mat-list-item>
          <mat-list-item>
            <span><strong>{{ "STATISTICS.newest_page_updated" | translate }}:</strong> {{ newest_page | date }}</span>
          </mat-list-item>
          <mat-list-item>
            <span><strong>{{ "STATISTICS.oldest_page_updated" | translate }}:</strong> {{ oldest_page | date }}</span>
          </mat-list-item>
        </mat-list>
      </div>
      <div>
        <table border="1" frame="void" rules="rows">
          <tr>
            <td scope="row">{{ "STATISTICS.pages_with_errors" | translate }}</td>
            <td>{{ pagesWithErrors }}</td>
            <td>{{ pagesWithErrorsPercentage }}</td>
          </tr>
          <tr>
            <td scope="row">{{ "STATISTICS.pages_without_errors" | translate }}</td>
            <td>{{ pagesWithoutErrors }}</td>
            <td>{{ pagesWithoutErrorsPercentage }}</td>
          </tr>
          <tr>
            <td scope="row">{{ "STATISTICS.pages_without_errors_a" | translate }}</td>
            <td>{{ pagesWithoutErrorsA }}</td>
            <td>{{ pagesWithoutErrorsAPercentage }}</td>
          </tr>
          <tr>
            <td scope="row">{{ "STATISTICS.pages_without_errors_a_aa" | translate }}</td>
            <td>{{ pagesWithoutErrorsAA }}</td>
            <td>{{ pagesWithoutErrorsAAPercentage }}</td>
          </tr>
          <tr>
            <td scope="row">{{ "STATISTICS.pages_without_errors_a_aa_aaa" | translate }}</td>
            <td>{{ pagesWithoutErrorsAAA }}</td>
            <td>{{ pagesWithoutErrorsAAAPercentage }}</td>
          </tr>
        </table>
      </div>
    </div>
    <span fxLayout="row" fxLayoutAlign="center center" fxFlex>
      <strong>{{ "STATISTICS.note2" | translate }}</strong>
    </span>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
    <button mat-flat-button color="primary" (click)="openScoreDistributionDialog()">
      {{ "STATISTICS.score_distribution" | translate }}
    </button>
    <span fxFlex="1"></span>
    <button mat-flat-button color="warn" (click)="openErrorDistributionDialog()">
      {{ "STATISTICS.error_distribution" | translate }}
    </button>
  </mat-card-actions>
</mat-card>
