<mat-card class="mat-typography">
  <mat-card-header fxLayout="row" fxLayoutAlign="center center">
    <mat-card-title>
      <h1>{{ "DOMAINS_PAGE.title" | translate }} {{ domain }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <a mat-icon-button class="tools" [routerLink]="['/console', 'domains']" matTooltip="{{ 'RESULTS.actions.back' | translate }}">
      <mat-icon aria-label="'RESULTS.actions.back' | translate">arrow_back</mat-icon>
    </a>
    <span fxFlex></span>
  </mat-card-actions>
</mat-card>
<br>
<app-domain-statistics *ngIf="!loading && !error" [pages]="pages"></app-domain-statistics>
<app-top-five-errors *ngIf="!loading && !error" [data]="websiteObject.errors"></app-top-five-errors>
<app-top-five-best-practices *ngIf="!loading && !error" [data]="websiteObject.success"></app-top-five-best-practices>
<br>
<app-accessibility-plot *ngIf="!loading && !error" [data]="websiteObject.getAllScores()"></app-accessibility-plot>
<br>
<app-list-of-pages *ngIf="!loading && !error" [pages]="pages" (deletePages)="deletePages($event)"></app-list-of-pages>
<app-loading *ngIf="loading"></app-loading>
<app-error *ngIf="error"></app-error>
