<mat-card>
  <mat-card-header>
    <mat-card-title class="card-title">
      Criar um domínio
    </mat-card-title>
    <mat-card-subtitle>
      Crie um domínio e associe-o a um website
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-content>
    <form (submit)="createDomain($event)" [formGroup]="domainForm" fxLayout="row" fxLayoutAlign="space-around start" novalidate>
      <div class="add-website-block" fxLayout="column">
        <h3>Website</h3>
        <mat-form-field>
          <mat-select placeholder="Websites" formControlName="websiteId" required>
            <mat-option *ngFor="let ws of websites" [value]="ws.WebsiteId">
              {{ ws.Long_Name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="domainForm.controls.websiteId.hasError('required')" [innerHTML]="'MISC.required_field' | translate"></mat-error>
        </mat-form-field>
      </div>
      <div class="add-domain-block">
        <h3>Domínio</h3>
        <mat-form-field>
          <input matInput placeholder="Novo Url" formControlName="url" required>
          <mat-error *ngIf="domainForm.controls.url.hasError('required')" [innerHTML]="'MISC.required_field' | translate"></mat-error>
        </mat-form-field>
      </div>
      <div class="add-tags-block">
        <h3>Tags</h3>
        <mat-form-field>
          <mat-select placeholder="Tags" formControlName="tags" multiple>
            <mat-option *ngFor="let tag of tags" [value]="tag.TagId">
              {{ tag.Name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="submit-block" fxLayout="column" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" type="submit" [disabled]="domainForm.controls.websiteId.invalid || domainForm.controls.url.invalid">
          {{ 'USERS_PAGE.ADD.submit' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>