<div fxLayout="row">
  <h1 class="mat-display-1" mat-dialog-title>{{ "DOMAINS_PAGE.ADD.title" | translate }}</h1>
  <span fxFlex></span>
  <button mat-icon-button aria-label="Close dialog" mat-dialog-close>
    <mat-icon aria-hidden="false">close</mat-icon>
  </button>
</div>
<form (submit)="createDomain($event)" [formGroup]="domainForm" novalidate>
  <mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch">
    <div class="add-website-block" fxLayout="column" *ngIf="!loadingWebsites">
      <mat-form-field>
        <label for="domain_website_input">
          {{ "DOMAINS_PAGE.ADD.website_label" | translate }}
        </label>
        <input id="domain_website_input" type="text" aria-label="Website Name" matInput formControlName="website"
          [matAutocomplete]="auto" [errorStateMatcher]="matcher" autofocus required>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getCurrentDomain()">
          <mat-option *ngFor="let ws of filteredWebsites | async" [value]="ws.Name">
            {{ ws.Name }}
          </mat-option>
        </mat-autocomplete>
        <button type="button" *ngIf="domainForm.value.website" matSuffix mat-icon-button aria-label="Clear"
          (click)="domainForm.controls.website.reset()">
          <mat-icon aria-hidden="false">close</mat-icon>
        </button>
        <mat-error *ngIf="domainForm.controls.website.hasError('required')"
          [innerHTML]="'MISC.required_field' | translate"></mat-error>
        <mat-error *ngIf="domainForm.controls.website.hasError('validWebsite')">
          {{ "DOMAINS_PAGE.ADD.website_invalid" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="show-current-domain" *ngIf="showCurrentDomain" fxLayout="column" fxLayoutAlign="start stretch">
      <mat-form-field>
        <label for="domain_current_domain_label">
          {{ "DOMAINS_PAGE.ADD.current_domain_label" | translate }}
        </label>
        <input id="domain_current_domain_label" matInput formControlName="current_domain">
      </mat-form-field>
    </div>
    <div class="add-domain-block" fxLayout="column" fxLayoutAlign="start stretch">
      <mat-form-field>
        <label for="domain_domain_label">
          {{ "DOMAINS_PAGE.ADD.domain_label" | translate }}
        </label>
        <input id="domain_domain_label" matInput formControlName="url" [errorStateMatcher]="matcher" required>
        <button type="button" *ngIf="domainForm.value.url" matSuffix mat-icon-button aria-label="Clear"
          (click)="domainForm.controls.url.reset()">
          <mat-icon aria-hidden="false">close</mat-icon>
        </button>
        <mat-error *ngIf="domainForm.controls.url.status === 'PENDING'">
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </mat-error>
        <mat-error *ngIf="domainForm.controls.url.hasError('required')" [innerHTML]="'MISC.required_field' | translate">
        </mat-error>
        <mat-error *ngIf="domainForm.controls.url.hasError('notTakenDomain')">
          {{ "DOMAINS_PAGE.ADD.domain_exists" | translate }}
        </mat-error>
        <mat-error *ngIf="domainForm.controls.url.hasError('domainMissingProtocol')" [innerHTML]="'WEBSITES_PAGE.ADD.domain_missing_protocol' | translate"></mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row">
    <span fxFlex></span>
    <button mat-raised-button color="warn" type="button" (click)="resetForm()">
      {{ "DOMAINS_PAGE.ADD.reset" | translate }}
    </button>
    <button mat-raised-button color="primary" type="submit"
      [disabled]="domainForm.controls.website.invalid || domainForm.controls.url.invalid" *ngIf="!loadingCreate">
      {{ "DOMAINS_PAGE.ADD.submit" | translate }}
    </button>
    <span *ngIf="loadingCreate"><strong>{{ "MISC.loading" | translate }}</strong></span>
  </mat-dialog-actions>
</form>
