<mat-card class="mat-typography">
  <mat-card-header fxLayout="row" fxLayoutAlign="center center">
    <mat-card-title>
      <h1>{{ "TAGS_PAGE.title" | translate }} {{ tag }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <a mat-icon-button class="tools" [routerLink]="['/console', 'tags']" matTooltip="{{ 'RESULTS.actions.back' | translate }}">
       <mat-icon aria-label="'RESULTS.actions.back' | translate">arrow_back</mat-icon>
    </a>
    <span fxFlex></span>
  </mat-card-actions>
</mat-card>
<br>
<app-list-of-websites *ngIf="!loading && !error && user === 'admin'" [websites]="websites" (refreshWebsites)="refreshWebsites($event)"></app-list-of-websites>
<app-list-of-websites-user *ngIf="!loading && !error && user !== 'admin'"></app-list-of-websites-user>
<app-loading *ngIf="loading"></app-loading>
<app-error *ngIf="error"></app-error>
