<mat-card class="mat-typography">
  <mat-card-header>
    <mat-card-title>
      <h1>Domínios</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>Lista de todos os Domínios</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-filter">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="DomainId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.DomainId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Url">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Domínio </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Url}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Website">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Website </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Website}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Active">
        <mat-header-cell *matHeaderCellDef mat-sort-headerf> Active </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.Active" class="md-24" aria-label="">check</mat-icon>
          <mat-icon *ngIf="!element.Active" class="md-24" aria-label="">clear</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Pages">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nº Páginas </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Pages}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Tags">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nº Tags </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Tags}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Start_Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Data de início </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Start_Date | date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="End_Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Data de fim </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.End_Date | date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button matTooltip="{{ 'USER.PAGES.table.headers.see_tooltip' | translate }}" (click)="showPage(element.Uri)" fxFlex>
            <mat-icon class="md-24" aria-label="">mode_edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 250, 500, 1000]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>