<h1 class="mat-display-1" mat-dialog-title>{{ "USERS_PAGE.UPDATE.title" | translate }}</h1>

<mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ "USERS_PAGE.UPDATE.subtitle" | translate }}
        </mat-panel-title>
        <mat-panel-description>
          {{ "USERS_PAGE.UPDATE.description" | translate }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-container matExpansionPanelContent>
        <form (submit)="updateUser($event)" [formGroup]="userForm" novalidate>
          <div class="add-user-block" fxLayout="column">
            <mat-form-field>
              <label for="user_email_input">
                {{ "USERS_PAGE.ADD.email_label" | translate }}
              </label>
              <input id="user_email_input" matInput [errorStateMatcher]="matcher" formControlName="email">
            </mat-form-field>
            <mat-form-field>
              <label for="user_password_input">
                {{ "USERS_PAGE.ADD.password_label" | translate }}
              </label>
              <input id="user_password_input" matInput [type]="hide ? 'password' : 'text'" [errorStateMatcher]="matcher"
                formControlName="password">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? "visibility" : "visibility_off"}}</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <label for="user_confirm_password_input">
                {{ "USERS_PAGE.ADD.confirm_password_label" | translate }}
              </label>
              <input id="user_confirm_password_input" matInput [type]="hide2 ? 'password' : 'text'" [errorStateMatcher]="matcher"
                formControlName="confirmPassword">
              <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? "visibility" : "visibility_off"}}</mat-icon>
              <mat-error *ngIf="userForm.controls.confirmPassword.errors?.MatchPassword && !userForm.controls.confirmPassword.hasError('required')">
                {{ "USERS_PAGE.ADD.confirm_password_error" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="add-type-block" fxLayout="column">
            <mat-form-field>
              <label for="user_app_input">
                {{ "USERS_PAGE.ADD.choose_app" | translate }}
              </label>
              <input id="user_app_input" matInput [errorStateMatcher]="matcher" formControlName="app">
            </mat-form-field>
          </div>
          <div class="add-websites-block" *ngIf="!loadingWebsites" fxLayout="column" fxLayoutAlign="start stretch">
            <mat-form-field>
              <label for="user_websites_input">
                {{ "USERS_PAGE.ADD.websites_label" | translate }}
              </label>
              <mat-chip-list #websitesChipList>
                <mat-chip *ngFor="let website of selectedWebsites" [selectable]="selectable" [removable]="removable"
                  (removed)="removeWebsite(website)">
                  {{website.Name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input id="user_websites_input" #websiteInput formControlName="websites" [matAutocomplete]="auto2"
                  [matChipInputFor]="websitesChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur" />
                <button mat-button *ngIf="selectedWebsites.length > 0" matSuffix mat-icon-button aria-label="Clear"
                  (click)="selectedWebsites = []">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-chip-list>
              <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selectedWebsite($event)">
                <mat-option *ngFor="let website of filteredWebsites | async" [value]="website.Name">
                  {{ website.Name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <span fxFlex></span>
            <button mat-raised-button color="warn" type="button" (click)="setDefault()">
              {{ "USERS_PAGE.UPDATE.default" | translate }}
            </button>
            <span fxFlex="5"></span>
            <button mat-raised-button color="primary" type="submit" [disabled]="userForm.controls.email.invalid || userForm.controls.password.invalid || userForm.controls.confirmPassword.invalid || userForm.controls.app.invalid"
              *ngIf="!loadingUpdate">
              {{ 'USERS_PAGE.UPDATE.submit' | translate }}
            </button>
            <mat-spinner *ngIf="loadingUpdate" [diameter]="40"></mat-spinner>
          </div>
        </form>
      </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ "USERS_PAGE.UPDATE.delete.title" | translate }}
        </mat-panel-title>
        <mat-panel-description>
          {{ "USERS_PAGE.UPDATE.delete.description" | translate }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <p><strong>{{ "USERS_PAGE.UPDATE.delete.list.title" | translate }}</strong></p>
        <ul>
          <li>{{ "USERS_PAGE.UPDATE.delete.list.item1" | translate }}</li>
          <li>{{ "USERS_PAGE.UPDATE.delete.list.item2" | translate }}</li>
          <li>{{ "USERS_PAGE.UPDATE.delete.list.item3" | translate }}</li>
        </ul>
        <button mat-button color="warn" type="button" (click)="deleteUser()">
          {{ "USERS_PAGE.UPDATE.delete.submit" | translate }}
        </button>
      </ng-template>

    </mat-expansion-panel>
  </mat-accordion>
  <br>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" mat-dialog-close>
    {{ "MISC.message_close" | translate }}
  </button>
</mat-dialog-actions>
