<mat-card class="mat-typography">
  <mat-card-header fxLayout="row" fxLayoutAlign="center center">
    <mat-card-title>
      <h1>{{ "WEBSITES_PAGE.title" | translate }} {{ website }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <a mat-icon-button class="tools" [routerLink]="['/console', 'websites']" matTooltip="{{ 'RESULTS.actions.back' | translate }}">
      <mat-icon aria-label="'RESULTS.actions.back' | translate">arrow_back</mat-icon>
    </a>
    <span fxFlex></span>
    <button mat-icon-button class="tools" [matMenuTriggerFor]="menu" matTooltip="{{ 'RESULTS.actions.download' | translate }}">
      <mat-icon aria-label="'RESULTS.actions.download' | translate">file_download</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="allPages">
        {{ "DOMAINS_PAGE.download.allPages" | translate }}
      </button>
      <button mat-menu-item [matMenuTriggerFor]="observatory">
        {{ "DOMAINS_PAGE.download.observatory" | translate }}
      </button>
    </mat-menu>
    <mat-menu #allPages="matMenu">
      <button mat-menu-item (click)="downloadAllPagesCSV()">
        <a download="eval.csv">CSV</a>
      </button>
      <button mat-menu-item (click)="downloadAllPagesEARL()">
        <a download="eval.json">EARL</a>
      </button>
    </mat-menu>
    <mat-menu #observatory="matMenu">
      <button mat-menu-item (click)="downloadObservatoryCSV()">
        <a download="eval.csv">CSV</a>
      </button>
      <button mat-menu-item (click)="downloadObservatoryEARL()">
        <a download="eval.json">EARL</a>
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
<br>
<app-website-statistics *ngIf="!loading && !error && !errorNoActiveDomains && user === 'admin' && pages.length > 0" [pages]="pages"></app-website-statistics>
<app-top-five-errors *ngIf="!loading && !error && pages.length > 0" [data]="websiteObject.errors"></app-top-five-errors>
<app-top-five-best-practices *ngIf="!loading && !error && pages.length > 0" [data]="websiteObject.success"></app-top-five-best-practices>
<br>
<app-accessibility-plot *ngIf="!loading && !error && pages.length > 0" [data]="websiteObject.getAllScores()"></app-accessibility-plot>
<br>
<app-list-of-domains *ngIf="!loading && !error && !errorNoActiveDomains && user === 'admin'" [domains]="domains" (refreshDomains)="refreshDomains($event)"></app-list-of-domains>
<app-list-of-pages-user *ngIf="!loading && !error && user !== 'admin'" [pages]="pages"></app-list-of-pages-user>
<app-loading *ngIf="loading"></app-loading>

<div *ngIf="errorNoActiveDomains" fxLayout="column" fxLayoutAlign="center center">
  <!-- TODO message a dizer que os dominios existentes nao estao ativos-->
  <span>{{ "MISC.unexpected_error" | translate }}</span>
</div>
<app-error *ngIf="error"></app-error>

